* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Breakpoint: 576px+ */
@media (min-width: 36em) {
}

/** Breakpoint: 768px+ */
@media (min-width: 48em) {
}

/** Breakpoint: 992px+ */
@media (min-width: 62em) {
}

/** Breakpoint: 1200px+ */
@media (min-width: 75em) {
}

/** Breakpoint: 1400px+ */
@media (min-width: 87.5em) {
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.1fr;
    grid-template-areas:
        "suessigkeiten suessigkeiten suessigkeiten teilnehmer"
        "buchhaltung buchhaltung buchhaltung einkauf"
        "buchhaltung buchhaltung buchhaltung speichern";
}
@media (min-width: 62em) {
    .container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.2fr 0.1fr;
        grid-template-areas:
            "suessigkeiten suessigkeiten suessigkeiten teilnehmer"
            "buchhaltung buchhaltung buchhaltung einkauf"
            "buchhaltung buchhaltung buchhaltung speichern";
    }
}

#suessigkeitenContainer {
    grid-area: suessigkeiten;
}
.suessigkeitenContainer {
    background-color: #002834;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}
#buchhaltung {
    grid-area: buchhaltung;
}
.buchhaltung-container {
    background-color: #014153;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.buchhaltung {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#teilnehmer {
    grid-area: teilnehmer;
    background-color: #014153;
    overflow: auto;
}
.teilnehmer {
    background-color: #014153;
    overflow: auto;
}
#einkauf {
    grid-area: einkauf;
    background-color: #002834;
    overflow: auto;
}
.einkauf {
    background-color: #002834;
    overflow: auto;
}

.suessigkeit {
    background-color: #014153;
    width: 30%;
    padding: 1.25rem;
    margin: 0.75rem;
    border: 0.125rem solid #f05b39;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}
.suessigkeit:hover {
    background-color: #002834;
    border: 0.125rem solid #ed6a4e;
}
.suessigkeit:focus {
    background-color: #002834;
    border: 0.125rem solid #ed6a4e;
}

.buchhaltungsElement {
    display: inline-block;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
}
.buchhaltung-name {
    display: block;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
}
table,
td,
tr,
caption {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em;
}

caption {
    background: #666;
    color: #c4ced3;
    font-weight: bold;
}

.select-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #014153;
    border: 0.25rem solid #ed6a4e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #ed6a4e;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.select-button:hover {
    border: 0.25rem solid white;
    cursor: pointer;
}

.lightMode {
    background-color: white;
}
